

<html>
{% if grains['fqdn'] == 'saltminion1' %}
<body bgcolor="#FFFF00">
{% elif grains['fqdn'] == 'saltminion2' %}
<body bgcolor="#00FF00">
{% endif %}
{% for i in (1,100,200) %}
<center><h1>{{ pillar['devpillar'] }}</h1></center>
{% endfor %}
</body>
</html>
